* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.fas {
  display: flex;
  flex-direction: column;
  gap: 10px; /* add a small gap between nav and image */
}

nav {
  margin: 10px;
  padding: 0;
  background-color: #6b6666;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  gap: 7%;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
}

nav ul li a:hover {
  background-color: #555;
}

nav ul li img {
  margin:1 px;
  display: block;
  height: 100%;
  width: 60px;
  border: solid #555;
  border-radius: 2%;
}

img {
  margin: 0 auto; /* center the image horizontally */
  padding: 0;
  width: 100vw;
  height: 300px;
  display: block;
   filter: contrast(125%) brightness(105%) saturate(160%);
}
.fas2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1500px;
  border: solid;
  border-color: #cac1c1;
  border-radius: 5%;
  margin:5%;
  background-color:aliceblue;
}

/* Each Clickable Item */
.menu {
  text-align: center;
  width: 180px;
  text-decoration: none;
  color: black;
}

.menu img {
  width: 60%;
  height: 80px;
  border-radius: 8px;
  transition: transform 0.3s ease;
   filter: contrast(110%) brightness(105%) saturate(120%);
}

.menu p {
  margin-top: 10px;
  font-weight: bold;
}

.menu:hover img {
  transform: scale(1.05);
}
.fas3 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1500px;
 
  margin:5%;
  background-color:rgb(215, 228, 240);
}
.menu1{
  text-align: center;
  width: 180px;
  text-decoration: none;
  color: black;
}
.menu1 img {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.menu1:hover img {
  transform: scale(1.05);
}
.fas4 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1500px;
 
  margin:3%;
  background-color:rgb(215, 228, 240);
}
.menu2{
  text-align: center;
  width: 180px;
  text-decoration: none;
  color: black;
}
.menu2 img {
  width: 150%;
  height: 500px;
  border-radius: 8px;
  transition: transform 0.3s ease;
   filter: contrast(110%) brightness(105%) saturate(120%);
}
.menu2:hover img {
  transform: scale(1.05);
}
.fas5
{
  .menu6
  {
  img {
     /* center the image horizontally */
  margin:2%;
  width: 100vw;
  height: 300px;
  display: block;
   filter: contrast(110%) brightness(110%) saturate(140%);
  }
}
.menu6:hover img {
  transform: scale(1.05);
}

}

.footer {
    background-color:#6b6666;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
}